@model ProyectoNT.Models.Clase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaYHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaYHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAlumno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idClase">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
